<h1 mat-dialog-title class="mat-dialog-title text-2xl font-bold text-center mb-4">Confirmacion de Eliminacion</h1>
<div mat-dialog-content class="text-lg text-center mb-4">
  <p>¿Estás seguro de que deseas eliminar este héroe?</p>
  <p>Esta acción es irreversible.</p>

</div>
<div mat-dialog-actions class="mat-dialog-actions justify-center">
  <button mat-button color="warn" class="mr-4" (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" (click)="onConfirm()">Elimina</button>
</div>
